# Ignore raw data
data/raw/*
data/processed/*

# Ignore models
models/*

# Ignore configurations
config.py

# Ignore virtual environment
capstone/

# Ignore DS STORE
*.DS_STORE

# Python package artifacts
*.egg-info/
__pycache__/
*.pyc
**/__pycache__/
*.py[cod]
*$py.class